<center><%= name %></center>

<div>
  
</div>

<script type="text/javascript">

  $.ajax({
    url: "http://119.29.187.201:9191/wx",
    data: {
      name: "Carkings"
    },
    type: "POST",
    dataType: 'json',
    success: function(res) {
      console.log("success", res)
    },
    error: function(err){
      console.log("err", err)
    }
  });

  // $.post('http://119.29.187.201:9191/test', { code: "Carkings"},
  //   function(data, status) {
  //     console.log(data);
  //   },
  //   "json"
  // );

</script>